@import "../../shared/colors.scss";
.banner-left {
  position: relative;
  background: $background-color;
  padding: 80px 0px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: url("../../../assets/bg/bg-pattern.png") center center;
    background-size: cover;
    opacity: 0.05;
  }
  .banner-content {
    h1 {
      font-size: 50px;
      font-weight: bold;
      margin: 20px 0px 35px;
      line-height: 45px;
      letter-spacing: 1.3px;
      color: $secondary-text !important;
    }
    p {
      margin-bottom: 35px;
      color: $secondary-text;
      opacity: 0.8;
      font-size: 16px;
      line-height: 25px;
    }
    .subheading {
      color: $secondary-text;
    }
  }
}
.banner-img3 {
  position: relative;
  float: right;
  .img-block {
    position: relative;
    z-index: 2;
    img {
      border-radius: 50%;
      border: 2px dashed $secondary-text;
      padding: 15px;
    }
  }
}
.feature-item {
  padding: 30px 30px 0;
  height: 100%;
  margin-bottom: 25px;
  background: $secondary-text;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border-top: 2px solid #ff194b11;
  &:hover {
    margin-top: -10px;
    border-color: transparent;
    background: $background-color;
    h4 {
      color: $secondary-text !important;
    }
    .feature-icon,.feature-text {
      color: $secondary-text;
    }
  }
  .feature-icon {
    font-size: 40px;
    color: $background-color;
  }
  .feature-text {
    overflow: hidden;
    h4 {
      margin-bottom: 20px;
      transition: 0.4s;
    }
  }
}
.about-text-block {
  position: relative;
  background: $secondary-text;
  padding: 25px 30px 15px 95px;
  margin-bottom: 20px;
  border-radius: 5px;
  i {
    position: absolute;
    font-size: 40px;
    left: 25px;
    top: 26px;
    color: $background-color;
  }
  h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}
.process {
  position: relative;
  .section-heading {
    margin-bottom: 30px;
  }
  .process-img img {
    width: 100%;
  }
  .process-block {
    position: relative;
    padding: 20px 0px;
    i {
      position: absolute;
      content: "";
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 100%;
      text-align: center;
      left: 0px;
      display: inline-block;
      border: 2px dashed $background-color;
      color: $background-color;
      font-size: 25px;
      z-index: 1;
    }
    .process-desc {
      padding-left: 100px;
      position: relative;
      margin-top: 5px;
      h4 {
        margin-bottom: 10px;
      }
      &:before {
        position: absolute;
        content: "";
        left: 0px;
        width: 2px;
        height: 100%;
        background: $background-color;
        left: 33px;
        top: 67.5px;
      }
    }
    .no-divider:before {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .process-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .process-img {
    display: none;
  }
}
@media (max-width: 992px) {
  .process-img {
    display: none;
  }
}
.course-category {
  text-align: center;
  border-radius: 5px;
  padding: 80px 20px 30px;
  transition: 0.4s;
  overflow: hidden;
  margin: 10px;
  position: relative;
  background-size: cover !important; 
  background-position: center !important; 
  background-attachment: fixed !important;
  z-index: 1;

  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    transition: 0.4s;
  }

  &:hover:before {
    background: $background-color;
    border-color: $background-color;
    opacity: 0.85;
  }

  &:hover {
    .category-icon {
      margin-top: -5px;
    }
  }
  .category-icon {
    font-size: 35px;
    margin: 0 auto 30px;
    color: $secondary-text;
    transition: 0.4s;
  }

  h4 {
    margin-bottom: 0px;
    font-size: 20px;
    transition: 0.4s;
    font-weight: 600;
  }

  h4 a {
    color: $secondary-text;
  }

  p {
    transition: 0.4s;
    color: $secondary-text;
  }
}