<section>
  <div class="container">
    <div class="row align-items-center subscribe-section">
      <div class="col-lg-6">
        <div class="section-heading">
          <span class="subheading">Newsletter</span>
          <h3>Join our community of students</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="subscribe-form">
          <form action="#">
            <input
              type="text"
              class="form-control"
              placeholder="Email Address"
            />
            <a href="#" class="btn btn-main"
              >Subscribe<i class="bi bi-arrow-right ml-2"></i>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mr-auto col-sm-6 col-md-6">
        <div class="widget footer-widget mb-5 mb-lg-0">
          <h5 class="widget-title">About Us</h5>
          <p class="mt-3">
            Veniam Sequi molestias aut necessitatibus optio magni at natus
            accusamus.Lorem ipsum dolor sit amet, consectetur adipisicin gelit,
            sed do eiusmod tempor incididunt .
          </p>
          <ul class="list-inline footer-socials">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6">
        <div class="footer-widget mb-5 mb-lg-0">
          <h5 class="widget-title">Company</h5>
          <ul class="list-unstyled footer-links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6">
        <div class="footer-widget mb-5 mb-lg-0">
          <h5 class="widget-title">Courses</h5>
          <ul class="list-unstyled footer-links">
            <li><a href="#">SEO Business</a></li>
            <li><a href="#">Digital Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Site Development</a></li>
            <li><a href="#">Social Marketing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="footer-widget footer-contact mb-5 mb-lg-0">
          <h5 class="widget-title">Contact</h5>

          <ul class="list-unstyled">
            <li><i class="bi bi-headphone"></i>(68) 345 5902</li>
            <li><i class="bi bi-envelop"></i>info&#64;yourdomain.com</li>
            <li>
              <i class="bi bi-location-pointer"></i>Moon Street Light Avenue
            </li>
          </ul>

          <form action="#" class="form-subscribe">
            <input
              type="text"
              class="form-control"
              placeholder="Email Address"
            />
            <button><i class="fa fa-angle-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btm">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
          <div class="footer-logo">
            <a class="navbar-brand" href="index.html">
              GeoBird <sup>®</sup><br /><span
                style="font-size: 35px; color: rgb(19, 2, 78)"
                >Consult</span
              >
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="copyright text-lg-center">
            <p>
              Copyright reserved to Edutim.Proudly Crafted by
              <a href="https://themeturn.com/">Dreambuzz</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
