<section>
  <div class="container">
    <div class="row align-items-center subscribe-section">
      <div class="col-lg-6">
        <div class="section-heading">
          <span class="subheading">Newsletter</span>
          <h1 class="text-white fw-bold mt-2">
            Join our community of students
          </h1>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="subscribe-form">
          <form action="#">
            <input
              type="text"
              class="form-control"
              placeholder="Email Address"
            />
            <a href="#" class="btn btn-main"
              ><span>Subscribe </span> <i class="bi bi-arrow-right"></i>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer mt-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mr-auto col-sm-6 col-md-6">
        <div class="widget footer-widget mb-5 mb-lg-0">
          <h5 class="widget-title">About Us</h5>
          <p class="mt-3">
            Unlock the power of GIS with us. We provide expert services and
            tutorials to help you navigate the world of spatial data
            effortlessly. Let's explore together!
          </p>
          <ul class="list-inline footer-socials">
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="footer-widget mb-5 mb-lg-0">
          <h5 class="widget-title">Company</h5>
          <ul class="list-unstyled footer-links">
            <li><a href="#">What We Do</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="footer-widget mb-5 mb-lg-0">
          <h5 class="widget-title">Courses</h5>
          <ul class="list-unstyled footer-links">
            <li><a href="#">Free Training</a></li>
            <li><a href="#">Beginners Package</a></li>
            <li><a href="#">Intermediate Package</a></li>
            <li><a href="#">Advance Package</a></li>
            <li><a href="#">Professional Courses</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="footer-widget footer-contact mb-5 mb-lg-0">
          <h5 class="widget-title">Contact</h5>

          <ul class="list-unstyled">
            <li><i class="bi bi-headset"></i>+234 (908) 580 0870</li>
            <li><i class="bi bi-envelope"></i>info&#64;domain.com</li>
            <li><i class="bi bi-geo-alt"></i>Abuja, Nigeria</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btm">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
          <div class="footer-logo">
            <a class="navbar-brand" href="index.html">
              GeoBird <sup>®</sup><br /><span
                style="font-size: 35px; color: rgb(19, 2, 78)"
                >Consult</span
              >
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="copyright text-lg-center">
            <p>
              Copyright reserved to GeoBird Consults LTD. Designed By
              <strong><em>Justtife</em></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
