@import "../../shared/colors.scss";
.subscribe-section {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding: 40px;
  margin-bottom: -60px;
  z-index: 2;
  border-radius: 7px;
  overflow: hidden;
  background: #004270;
  color: $secondary-text !important;
}
.subscribe-form {
  position: relative;
  .form-control {
    height: 60px;
    border-radius: 45px;
    padding: 0 125px 0 25px;
  }
  .btn {
    color: rgb(19, 2, 78);
    border: 1px solid rgb(19, 2, 78);
    font-weight: 900;
    position: absolute;
    right: 7px;
    height: 46px;
    top: 7px;
    line-height: 35px;
    border-radius: 46px;
    &:hover {
      color: #fff;
      background: rgb(19, 2, 78);
      box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

.footer {
  background: $background-color;
  padding: 80px 0px 0px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  .footer-widget {
    .widget-title {
      color: $secondary-text !important;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 22px;
    }

    p {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .footer-contact ul {
    margin-top: 30px;

    li {
      margin-bottom: 20px;

      i {
        color: rgba(255, 255, 255, 0.8);
        margin-right: 20px;
        margin-top: 7px;
        font-size: 20px;
      }

      div {
        overflow: hidden;
        font-size: 14px;
        strong {
          display: block;
          text-transform: capitalize;
          font-size: 16px;
        }
      }
    }
  }

  .footer-links {
    li {
      padding: 5px 0px;
    }

    a {
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        color: #ff1949;
      }
    }
  }

  .footer-socials {
    margin-top: 30px;

    a {
      width: 40px;
      height: 40px;
      background: #fff;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      color: #222;
      border-radius: 100%;

      &:hover {
        background: #ff1949;
        color: #fff;
      }
    }
  }

  .footer-btm {
    margin-top: 30px;
    padding: 20px 0px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    //
    .copyright p {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 0px;
    }
  }
}
//
.form-subscribe {
  position: relative;
}
//
.form-subscribe .form-control {
  height: 50px;
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 5px;
}
//
.form-subscribe button {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #ff1949;
}
//
.form-subscribe button:hover {
  background: #fff;
  color: #222;
}
@media (max-width: 480px) {
  .subscribe-form {
    .btn span {
      display: none;
    }
    .form-control {
      padding: 0 60px 0 25px;
    }
  }
}
