/*=======================
Course Category
========================*/
.course-category {
  text-align: center;
  border-radius: 5px;
  background: #fff;
  padding: 80px 20px 30px;
  transition: 0.4s;
  overflow: hidden;
  margin-bottom: 30px;
  margin: 10px;
  position: relative;
  z-index: 1;
}

.course-category:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  transition: 0.4s;
}

.course-category:hover:before {
  background: #ff1949;
  border-color: #ff1949;
  opacity: 0.85;
}

.course-category:hover h4 a {
  color: #fff;
}

.course-category:hover p {
  color: #fff;
}

.course-category:hover .category-icon {
  margin-top: -5px;
}

.course-category .category-icon {
  font-size: 35px;
  margin: 0 auto 30px;
  color: #fff;
  transition: 0.4s;
}

.course-category h4 {
  margin-bottom: 0px;
  font-size: 20px;
  transition: 0.4s;
  font-weight: 600;
}

.course-category h4 a {
  color: #fff;
}

.course-category p {
  transition: 0.4s;
  color: #fff;
}

.style-1 {
  background: url("./assets/course/course1.jpg");
  background-size: cover;
}
.style-3 {
  background: url("./assets/course/course3.jpg");
  background-size: cover;
}

.style-4 {
  background: url("./assets/course/course4.jpg");
  background-size: cover;
}

/*========================
Course Filter Tab
==========================*/
.course-filter {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}

.course-filter li {
  display: inline-block;
}

.course-filter li a {
  font-size: 12px;
  margin: 0;
  padding: 0.5em 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #414141;
  border-radius: 5px;
}

.course-filter li a:hover,
.course-filter li.active a,
.f-link li a:hover,
.f-link li.active a {
  color: #fff;
  background: #ff1949;
}

.course.gutter .course-item {
  padding: 10px;
}

/* ====================
VIDEO SECTION
======================*/
.video-section {
  position: relative;
  padding-bottom: 30px;
}

.video-section:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
  background: rgba(7, 41, 77, 0.98);
}

.video-section:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
  background: rgba(7, 41, 77, 0.98);
  z-index: -1;
  background-image: url("./assets/bg/cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.video-section .section-heading h3,
.video-section .section-heading .subheading {
  color: #fff;
}

.video-block {
  position: relative;
}

.video-block:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(7, 41, 77, 0.4);
}

.video-block:after {
  position: absolute;
  content: "";
  background: #ff1949;
  left: 0px;
  right: 0px;
  bottom: -32px;
  width: 80%;
  height: 30%;
  z-index: -1;
  opacity: 0.3;
  margin: 0px auto;
}

.video-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  z-index: 3;
  text-align: center;
  padding-top: 36px;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: #ff1949;
  border-radius: 100%;
  color: #fff;
}

.video-icon::after,
.video-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  border: 1px solid #fff;
}

.video-icon::before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

.video-icon::after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.video-icon:hover {
  background-color: #ff1949;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.video-section2 {
  position: relative;
  overflow: hidden;
  padding: 100px 0px;
  background: #e8e8e8;
}

.video-section2 .section-heading {
  padding-right: 43px;
  margin-bottom: 0px;
}

.video-section2 .section-heading h3 {
  font-size: 60px;
}

.video-section2 .video-block-container {
  background-image: url("./assets/bg/cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  height: 100%;
}

.video-section2 .video-block-container:before {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(7, 41, 77, 0.9);
  z-index: 1;
}

/*====================
 Team Section
=====================*/
.team {
  position: relative;
  padding-bottom: 70px;
}

.team:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  //   background: url("./assets/bg/bg-7.png") center center;
  background-size: cover;
  opacity: 0.8;
}

.team .team-item {
  text-align: center;
  border: 2px solid #fff;
  padding: 30px 20px 40px 20px;
  transition: 0.4s;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
}

.team .team-item:hover img {
  margin-top: -10px;
}

.team .team-item:hover .team-socials {
  opacity: 1;
}

.team .team-item:hover {
  box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
  background: #fff;
}

.team .team-item img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 0px auto;
  transition: 0.4s;
}

.team .team-item .team-info {
  margin-top: 30px;
  position: relative;
  height: 60px;
}

.team .team-item .team-info h4 {
  margin-bottom: 0px;
}

.team .team-item .team-info p {
  color: #ff1949;
}

.team-socials {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  bottom: -56px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.team-socials li {
  margin-right: 0px !important;
}

.team-socials a {
  display: block;
}

.team-socials a i {
  width: 35px;
  height: 35px;
  text-align: center;
  background: #222;
  display: inline-block;
  line-height: 36px;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  transition: 0.4s;
}

.team-socials a:hover i {
  background: #ff1949;
}

.team-socials a .fa-twitter {
  background: #1da1f2;
}

.team-socials a .fa-facebook {
  background: #3b5998;
}

.team-socials a .fa-linkedin {
  background: #0077b5;
}

.team-2 {
  padding-bottom: 0px;
  background: url("./assets/bg/gray-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.team-block {
  margin-bottom: 30px;
  position: relative;
}

.team-block .team-info {
  background: #fff;
  margin-top: -30px;
  position: relative;
  margin: -30px 20px 0px 20px;
  text-align: center;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
}

.team-block .team-info h4,
.team-block .team-info p {
  margin-bottom: 0px;
}

.team-block .team-info p {
  color: #ff1949;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.team-block .team-img {
  overflow: hidden;
  position: relative;
}

.team-block .team-img img {
  transition: all 0.3s ease;
  border-radius: 5px;
  width: 100%;
}

.team-block .team-img:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(56, 87, 119, 0.9);
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.team-block .team-socials {
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.team-block .team-socials li {
  margin: 0px 5px;
}

.team-block:hover .team-img::before {
  opacity: 1;
  visibility: visible;
}

.team-block:hover .team-socials {
  opacity: 1;
  visibility: visible;
}

/* ====================
OfFer COurse
======================*/
.offer-course {
  position: relative;
  background: #f9f9f9;
  background: white;
  background: linear-gradient(32deg, white 36%, #eee3dd 100%);
}

.offer-course .course-block {
  box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
  margin-bottom: 0px;
}

.offer-course .section-heading h3 {
  margin-bottom: 20px;
}

.offer-course .section-heading h3 span {
  color: #ff1949;
  text-decoration: underline;
}

.offer-course .section-heading p {
  color: #444;
}

.offer-course .section-heading .btn {
  margin-top: 10px;
}
/*==========================
Course Style 2
=======================*/
.course-style-2 .course-content h4 {
  margin: 10px 0px 15px;
}

.course-style-2 .course-img .course-cat {
  position: absolute;
  content: "";
  left: 20px;
  bottom: -15px;
  background: #385777;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
}

.course-style-2 .rating,
.course-style-2 .course-price {
  margin-bottom: 0px;
}

.popular-course-list {
  padding-bottom: 80px;
}

/* =========================
 Course Single Sidebar
==============================*/
.course-sidebar .course-single-thumb {
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 25px;
}

.course-sidebar .course-single-thumb img {
  border-radius: 5px;
}

.course-sidebar .course-price-wrapper {
  margin-top: 15px;
}

.course-sidebar .course-price-wrapper .course-price {
  margin-bottom: 30px;
}

.course-sidebar .course-price-wrapper .course-price h4 span {
  font-size: 50px;
}

.course-sidebar .course-widget {
  border: 1px solid #eee;
  padding: 25px;
  margin-bottom: 25px;
  border-top: 2px solid #385777;
  border-radius: 5px;
}

.course-sidebar .course-widget.single-info {
  font-weight: 600;
  color: #222;
}

.course-sidebar .course-widget.single-info i {
  color: #ff1949;
  margin-right: 10px;
}

.course-sidebar .course-widget ul li {
  line-height: 45px;
  color: #222;
}

.course-sidebar .course-widget ul li span {
  font-weight: 600;
  font-size: 15px;
}

.course-sidebar .course-widget ul li i {
  margin-right: 10px;
  color: #ff1949;
  width: 20px;
  display: inline-block;
}

.course-sidebar .course-widget ul li a {
  color: #535967;
  text-transform: capitalize;
}

.course-sidebar .course-widget.course-share li {
  margin-right: 0px !important;
}

.course-sidebar .course-widget.course-share span {
  font-weight: 600;
  font-size: 15px;
  color: #222;
}

.course-sidebar .course-widget.course-share a i {
  color: #fff;
  margin-right: 0px;
  transition: 0.4s;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #eee;
  text-align: center;
  border-radius: 4px;
  line-height: 40px;
  transition: 0.4s;
}

.course-sidebar .course-widget.course-share a .fa-twitter {
  background: #1da1f2;
}

.course-sidebar .course-widget.course-share a .fa-facebook {
  background: #3b5998;
}

.course-sidebar .course-widget.course-share a .fa-linkedin {
  background: #0077b5;
}

.course-sidebar .course-widget.course-share a .fa-pinterest {
  background: #f92b39;
}

.course-sidebar .course-widget.course-share a:hover i {
  color: #fff;
  background: #ff1949;
}

.course-sidebar .course-widget.single-info span {
  color: #ff1949;
}

.course-sidebar .course-widget.course-metarials ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 28px;
}

.course-sidebar .course-widget.course-metarials ul li i {
  position: absolute;
  left: 0px;
  top: 13px;
}

.course-sidebar .course-widget .single-course-tags a {
  color: #535967;
  display: inline-block;
  padding: 0px 12px;
  border: 1px solid #d8d9dc;
  background: #eee;
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px;
}

.course-sidebar .course-widget .single-course-tags a:hover {
  background: #ff1949;
  color: #fff;
  border-color: #ff1949;
}

.course-title {
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
}

.course-title:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background: #222;
}

/*========================
  COURse Single Details
  ==============================*/
.course-single-header {
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.course-single-header .single-course-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.course-single-header .single-course-meta {
  margin-top: 30px;
}

.course-single-header .single-course-meta ul li {
  margin-right: 25px;
  float: left;
}

.course-single-header .single-course-meta ul li a {
  color: #333;
}

.course-single-header .single-course-meta ul li a:hover {
  color: #ff1949;
}

.course-single-header .single-course-meta ul span {
  color: #222;
  font-weight: 600;
}

.course-single-header .single-course-meta ul span i {
  margin-right: 10px;
  color: #ff1949;
}

.single-course-details {
  clear: both;
}

.single-course-details .course-info {
  overflow: hidden;
  padding: 25px;
  border: 1px solid #eee;
  margin: 25px 0px;
  background: #f8f8f9;
}

.single-course-details .course-info ul {
  list-style: none;
  display: block;
  overflow: hidden;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0;
}

.single-course-details .course-info ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
  color: #222;
}

.single-course-details .course-info ul li i {
  position: absolute;
  left: 0px;
  top: 10px;
}
/*======================
Course Topics
==============================*/
.edutim-course-topics-contents {
  margin-bottom: 50px;
}

.edutim-course-topics-header {
  margin-top: 50px;
  margin-bottom: 25px;
}

.edutim-course-topics-header .course-title {
  margin-bottom: 0px;
}

.edutim-course-topics-header .edutim-course-topics-header-right {
  margin-left: 30px;
}

.edutim-course-topics-header .edutim-course-topics-header-right span {
  margin-right: 20px;
}

.edutim-course-topics-header .edutim-course-topics-header-right span strong {
  color: #222;
}

.single-course-lesson {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  background: #fafafa;
  border: 1px solid #eee;
}

.single-course-lesson .course-topic-lesson {
  font-family: "Quicksand", sans-serif;
}

.single-course-lesson .course-topic-lesson span {
  color: #444;
  font-weight: 600;
  font-size: 15px;
}

.single-course-lesson .course-topic-lesson i {
  margin-right: 10px;
  color: #ff1949;
}

.edutim-course-topic .card {
  margin-bottom: 20px;
  border: 0px solid transparent;
}

.edutim-course-topic .card .card-header {
  padding: 0px;
  margin-bottom: 0;
  background: transparent;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.edutim-course-topic .card .card-header button {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  background: transparent;
}

.edutim-course-topic .card .card-header button h4 {
  font-size: 18px;
  margin-bottom: 0px;
}

.curriculmn-title {
  position: relative;
}

.curriculmn-title::after {
  position: absolute;
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff1949;
  margin-left: 20px;
  font-size: 15px;
  top: 3px;
  color: #555;
}

.curriculmn-title-btn[aria-expanded="true"] .curriculmn-title::after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  color: #ff1949;
}

.edutim-course-topic
  .card
  .card-header
  button.curriculmn-title-btn[aria-expanded="true"] {
  border-bottom: 0px;
}

/*=======================
  Related Courses
  ================= */
.related-course {
  border-top: 1px solid #eee;
}

.related-course .course-block {
  background: #f9f9f9;
  border-color: #f9f9f9;
}

.related-course .course-block:hover {
  background: #fff;
}

/*==========================
   Instructor info
  =============================*/
.instructor-profile {
  margin-bottom: 30px;
  border: 1px solid #eee;
  padding: 25px;
  background: #fbfbfc;
}

.profile-img {
  width: 80px;
  border-radius: 100%;
  height: 80px;
  overflow: hidden;
  float: left;
  margin-right: 40px;
}

.profile-info {
  overflow: hidden;
}

.instructor-courses span {
  color: #222;
  margin-right: 15px;
}

.instructor-courses span i {
  margin-right: 10px;
  color: #ff1949;
}

.course-review {
  margin-bottom: 30px;
  padding: 25px;
}

.review-text {
  overflow: hidden;
}

.review-text h5 span {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}
/*==========================
Course Curriculam
==========================*/
.edutim-course-curriculum ul.curriculum-sections {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.edutim-course-curriculum ul.curriculum-sections .section-header {
  padding: 10px 40px;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.edutim-course-curriculum ul.curriculum-sections .section-header .section-meta {
  display: table-cell;
  white-space: nowrap;
  padding-left: 20px;
  text-align: right;
  font-size: 14px;
  vertical-align: middle;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-header
  .section-meta
  .section-progress {
  display: inline-block;
  margin-right: 5px;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-header
  .section-meta
  .section-progress
  .progress-bg {
  width: 100px;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-header
  .section-title {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 18px;
  padding: 10px 0;
}

.edutim-course-curriculum ul.curriculum-sections .section-header .section-left {
  display: table-cell;
  vertical-align: top;
  cursor: pointer;
}

.edutim-course-curriculum ul.curriculum-sections .section-header .section-desc,
.edutim-course-curriculum
  ul.curriculum-sections
  .section-header
  .section-title {
  margin: 0 0 10px 0;
}

.edutim-course-curriculum ul.curriculum-sections .section-content {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}

.edutim-course-curriculum ul.curriculum-sections .section-content .course-item {
  position: relative;
  font-size: 14px;
  transition: padding-left linear 0.15s;
  background: #fff;
  margin: 0;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .item-icon {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0px;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link {
  border-bottom: none;
  display: table;
  box-shadow: none;
  outline: 0;
  width: 100%;
  line-height: 1.5;
  font-weight: 700;
  transition: all 0.4s ease 0s;
  padding: 7px 40px;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link:hover
  .item-name {
  color: rgb(255, 25, 73);
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link:hover:before {
  color: rgb(255, 25, 73);
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .item-name {
  color: #222;
  transition: all 0.4s ease 0s;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 10px;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .course-item-meta {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  padding: 10px 0;
  text-align: right;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .course-item-meta
  .item-meta {
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  padding: 0 8px;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  background: #000;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .course-item-meta
  .item-meta.duration {
  background: rgba(255, 25, 73, 0.3);
  color: #222;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .course-item-meta
  .course-item.item-preview
  .course-item-status {
  background: rgb(255, 25, 73, 0.3);
  font-style: normal;
  border-radius: 3px;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .course-item-meta
  .course-item-status {
  color: #ddd;
  margin-left: 5px;
  display: none;
  border-radius: 50%;
  box-sizing: border-box;
}

.edutim-course-curriculum
  ul.curriculum-sections
  .section-content
  .course-item
  .section-item-link
  .course-item-meta
  .course-item.has-status
  .course-item-status {
  display: inline-block;
}

.course-thumb {
  padding: 10px;
  border: 4px solid #fff;
}
.course-thumb img {
  border-radius: 5px;
}

/*=====================
 CommentS Area
==========================*/
.comments {
    margin: 90px 0px;
  }
  
  .comments .commment-title {
    margin-bottom: 60px;
  }
  
  .comments .media {
    margin-bottom: 25px;
  }
  
  .comments .media img {
    border-radius: 100%;
  }
  
  .comments .media .media-body {
    padding-left: 20px;
  }
  
  .comments .media .media-body .media {
    margin-top: 35px;
  }
  
  .comments .media .media-body h5 span {
    font-size: 12px;
    padding-left: 10px;
    margin-left: 10px;
    font-family: "Muli", sans-serif;
    color: #FF1949;
    border-left: 1px solid #eee;
  }
  
  .comments .media .reply-link {
    font-size: 12px;
    font-family: "Muli", sans-serif;
    float: right;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
  }
  
  .comments .media .reply-link i {
    margin-right: 5px;
  }
  
  .comments .media .reply-link:hover {
    color: #FF1949;
  }
  
  /*=====================
   Comment Forms
  ==========================*/
  .comments-form {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 15px;
  }
  
  .comments-form h3 {
    margin-bottom: 10px;
  }
  
  .comments-form .comment_form {
    margin-top: 30px;
  }
  
  .comments-form .comment_form .form-control {
    height: 50px;
    border-radius: 40px;
    padding: 15px 15px 15px 20px;
    font-size: 14px;
    border: 1px solid #eee;
    background: #fff;
  }
  
  .comments-form .comment_form textarea.form-control {
    height: auto;
    border-radius: 15px;
  }
  
  .comments-form .comment_form .btn {
    padding: 14px 30px 14px 30px;
    margin-top: 20px;
  }
  