@import "../../shared/colors.scss";
.site-navigation {
  border-bottom: 1px solid $secondary-text;
  background-color: $background-color;
  padding: 10px 0px;
  .navbar-toggler {
    border: none;
    span {
      font-size: 35px;
      color: $secondary-text;
    }
  }
}
.menu_fixed {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 999;
  transform: translateY(-100%);
  animation: slideDown 1s forwards;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-tp.menu_fixed {
  border-color: transparent;
}
.navbar-nav {
  margin-left: auto !important;
  .nav-link {
    padding: 20px !important;
    font-weight: 600;
    font-size: 15px;
  }
}
.navbar-nav .nav-link i {
  margin-left: 5px;
}

.dropdown-menu.show {
  -webkit-animation: 0.2s forwards b;
  animation: 0.2s forwards b;
}
.dropdown-item {
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background-color 0.1s;
  text-transform: capitalize;
  border-bottom: 1px solid $secondary-text;
}
.dropdown-item:last-child {
  border-color: transparent;
}
.dropdown-item:hover {
  color: $secondary-text;
  text-decoration: none;
  background-color: $button-color;
}
.dropdown-toggle::after {
  display: none;
}
.nav-item.dropdown .dropdown-menu {
  transition: all 300ms ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border: 0px;
  padding: 0px;
  position: absolute;
  border-top: 2px solid $button-color;
  min-width: 220px;
}
.nav-tp {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 8px 0px;
  z-index: 999;
  margin-bottom: -100px;
  position: relative;
}
.nav-tp .navbar-nav .nav-link {
  color: $secondary-text;
}
.fixed-btm-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10;
  .scroll-to-top {
    display: inline-block;
    text-align: center;
    height: 50px;
    background: $background-color;
    color: $secondary-text;
    width: 50px;
    border: 1px solid $secondary-text;
    border-radius: 50%;
    cursor: pointer;
    i {
      line-height: 50px;
      font-size: 15px;
    }
  }
}

@media (max-width: 992px) {
  .site-navigation {
    text-align: center;
  }
  .dropdown-menu {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
