<header>
  <!-- Main Menu Start -->
  <div
    class="site-navigation main_menu nav-tp"
    [class.menu_fixed]="revealScrollToTop"
    id="mainmenu-area"
  >
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" routerLink="/">
          GeoBird <sup>®</sup><br /><span
            style="font-size: 35px; color: rgb(19, 2, 78)"
            >Consult</span
          >
        </a>
        <!-- Toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarMenu"
          aria-controls="navbarMenu"
          aria-expanded="true"
          aria-label="Toggle navigation"
          (click)="showDropdown()"
        >
          <span class="bi bi-list"></span>
        </button>
        <!-- Collapse -->
        <div
          class="collapse navbar-collapse"
          [class.show]="isTrue"
          id="navbarMenu"
        >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink=""
                id="navbar3"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="about" class="nav-link js-scroll-trigger">
                About Us
              </a>
            </li>
            <li
              class="nav-item dropdown"
              (mouseenter)="isHovered = true"
              (mouseleave)="isHovered = false"
            >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbar3"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Courses<i class="bi bi-caret-down-fill"></i>
              </a>
              <div
                class="dropdown-menu"
                [class.show]="isHovered"
                aria-labelledby="navbar3"
              >
                <a class="dropdown-item" routerLink="/course"> My Course </a>
                <a class="dropdown-item" routerLink="/course">
                  Free Training
                </a>
                <a class="dropdown-item" routerLink="/course"> Beginners </a>

                <a class="dropdown-item" routerLink="/course"> Intermediate </a>
                <a class="dropdown-item" routerLink="/course"> Professional </a>
                <a class="dropdown-item" routerLink="/course"> Advance </a>
              </div>
            </li>
            <li class="nav-item">
              <a routerLink="/contact" class="nav-link">Contact Us</a>
            </li>
          </ul>
          <app-button
            class="px-3"
            [text]="'Sign Up'"
            [icon]="'box-arrow-in-right'"
          ></app-button>
          <app-button
            route="login"
            [text]="'Login'"
            [icon]="'box-arrow-in-right'"
          ></app-button>
        </div>
        <!-- / .navbar-collapse -->
      </div>
      <!-- / .container -->
    </nav>
  </div>
</header>
<div class="fixed-btm-top">
  <span
    class="scroll-to-top"
    [style.opacity]="revealScrollToTop ? 1 : 0"
    (click)="scrollToTop()"
    ><i class="bi bi-arrow-up"></i
  ></span>
</div>
