@import "../../shared/colors.scss";
.course-sidebar .course-price-wrapper {
  margin-top: 15px;
}
.course-sidebar .course-price-wrapper .course-price {
  margin-bottom: 30px;
}
.course-sidebar .course-price-wrapper .course-price h4 span {
  font-size: 50px;
}
.course-sidebar .course-widget {
  border: 1px solid #eee;
  padding: 25px;
  margin-bottom: 25px;
  border-top: 2px solid #385777;
  border-radius: 5px;
}
.course-sidebar .course-widget ul li {
  line-height: 45px;
  color: #222;
}
.course-sidebar .course-widget ul li span {
  font-weight: 600;
  font-size: 15px;
}
.course-sidebar .course-widget ul li i {
  margin-right: 10px;
  color: $button-color;
  width: 20px;
  display: inline-block;
}
.course-sidebar .course-widget ul li a {
  color: #535967;
  text-transform: capitalize;
}
.course-sidebar .course-widget.course-share li {
  margin-right: 0px !important;
}
.course-sidebar .course-widget.course-share span {
  font-weight: 600;
  font-size: 15px;
  color: #222;
}
.course-sidebar .course-widget.course-share a i {
  color: #fff;
  margin-right: 0px;
  transition: .4s;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #eee;
  text-align: center;
  border-radius: 4px;
  line-height: 40px;
  transition: .4s;
}
.course-sidebar .course-widget.course-share a:hover i {
  color: #fff;
  background: $button-color;
}
.course-sidebar .course-widget.single-info span {
  color: $button-color;
}
.course-sidebar .course-widget .single-course-tags a {
  color: #535967;
  display: inline-block;
  padding: 0px 12px;
  border: 1px solid #d8d9dc;
  background: #eee;
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px;
}
.course-sidebar .course-widget .single-course-tags a:hover {
  background: $button-color;
  color: #fff;
  border-color: $button-color;
}
.course-title {
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
}
.course-title:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background: #222;
}
.course-single-header {
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}
.course-single-header .single-course-title {
  margin-bottom: 20px;
  font-size: 36px;
}
.single-course-details {
  clear: both;
}
.single-course-details .course-info {
  overflow: hidden;
  padding: 25px;
  border: 1px solid #eee;
  margin: 25px 0px;
  background: #F8F8F9;
}
.single-course-details .course-info ul {
  list-style: none;
  display: block;
  overflow: hidden;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0;
}
.single-course-details .course-info ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
  color: #222;
}
.single-course-details .course-info ul li i {
  position: absolute;
  left: 0px;
  top: 10px;
}
.geobird-course-topics-contents {
  margin-bottom: 50px;
}
.geobird-course-topics-header {
  margin-top: 50px;
  margin-bottom: 25px;
}
.geobird-course-topics-header .course-title {
  margin-bottom: 0px;
}
.geobird-course-topics-header .geobird-course-topics-header-right {
  margin-left: 30px;
}
.geobird-course-topics-header .geobird-course-topics-header-right span {
  margin-right: 20px;
}
.geobird-course-topics-header .geobird-course-topics-header-right span strong {
  color: #222;
}
.single-course-lesson {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  color: $background-color;
  border-bottom: 1px solid $button-color;
}
.single-course-lesson .course-topic-lesson {
  font-family: "Quicksand", sans-serif;
}
.single-course-lesson .course-topic-lesson span {
  color: #444;
  font-weight: 600;
  font-size: 15px;
}
.single-course-lesson .course-topic-lesson i {
  margin-right: 10px;
  color: $button-color;
}
.geobird-course-topic .card {
  margin-bottom: 20px;
  border: 0px solid transparent;
}
.geobird-course-topic .card .card-header {
  padding: 0px;
  margin-bottom: 0;
  background: transparent;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}
.geobird-course-topic .card .card-header button {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  padding: 20px;
  background: transparent;
}
.geobird-course-topic .card .card-header button h4 {
  font-size: 18px;
  float: left;
  margin-bottom: 0px;
}
.curriculum-title {
  position: relative;
}
.curriculum-title::after {
  position: absolute;
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: $button-color;
  margin-left: 20px;
  font-size: 15px;
  top: 3px;
  color: #555;
}
.curriculum-title-btn[aria-expanded="true"] .curriculum-title::after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  color: $button-color;
}
.geobird-course-topic .card .card-header button.curriculum-title-btn[aria-expanded="true"] {
  border-bottom: 0px;
}
.related-course {
  border-top: 1px solid #eee;
}
.related-course .course-block {
  background: #F9F9F9;
  border-color: #F9F9F9;
}
.related-course .course-block:hover {
  background: #fff;
}
.instructor-profile {
  margin-bottom: 30px;
  border: 1px solid #eee;
  padding: 25px;
  background: #fbfbfc;
}
.profile-img {
  width: 80px;
  border-radius: 100%;
  height: 80px;
  overflow: hidden;
  float: left;
  margin-right: 40px;
}
.profile-info {
  overflow: hidden;
}
.instructor-courses span {
  color: #222;
  margin-right: 15px;
}
.instructor-courses span i {
  margin-right: 10px;
  color: $button-color;
}
.course-review {
  margin-bottom: 30px;
  padding: 25px;
}
.review-text {
  overflow: hidden;
}
.review-text h5 span {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}
.course-single-tabs {
  margin-bottom: 45px;
}
.course-single-tabs .nav-tabs {
  background: #F8F8F9;
  border: 0px;
}
.course-single-tabs .nav-tabs .nav-link.active,
.course-single-tabs .nav-tabs .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  font-weight: 600;
  padding: 20px 20px;
  position: relative;
  font-size: 18px;
  cursor: pointer;
}
.course-single-tabs .nav-tabs .nav-link.active:before,
.course-single-tabs .nav-tabs .nav-link:before {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.course-single-tabs .nav-tabs .nav-link.active {
  color: $button-color;
}
.course-single-tabs .nav-tabs .nav-link.active:before {
  border-color: $button-color;
}
.course-single-wrapper {
  background: #ddd;
  margin-bottom: 50px;
  background: url("../../../assets/bg/cta-bg.jpg");
  background-size: cover;
  position: relative;
}
.course-single-wrapper:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  background: #263b5e;
  width: 100%;
  height: 100%;
  opacity: .98;
}
.course-single-wrapper .course-single-header {
  border-bottom: 0px;
  padding-top: 70px;
}
.course-thumb{
    padding: 10px;
    border:4px solid #fff;
}
.course-thumb img{
    border-radius: 5px;
}