.course-sidebar .course-price-wrapper {
  margin-top: 15px;
}

.course-sidebar .course-price-wrapper .course-price {
  margin-bottom: 30px;
}

.course-sidebar .course-price-wrapper .course-price h4 span {
  font-size: 50px;
}

.course-sidebar .course-widget {
  border: 1px solid #eee;
  padding: 25px;
  margin-bottom: 25px;
  border-top: 2px solid #385777;
  border-radius: 5px;
}

.course-sidebar .course-widget ul li {
  line-height: 45px;
  color: #222;
}

.course-sidebar .course-widget ul li span {
  font-weight: 600;
  font-size: 15px;
}

.course-sidebar .course-widget ul li i {
  margin-right: 10px;
  color: #ff1949;
  width: 20px;
  display: inline-block;
}

.course-sidebar .course-widget ul li a {
  color: #535967;
  text-transform: capitalize;
}
.course-title {
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
}

.course-title:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background: #222;
}

.course-single-header {
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.course-single-header .single-course-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.single-course-details {
  clear: both;
}

.edutim-course-topics-header {
  margin-top: 50px;
  margin-bottom: 25px;
}

.edutim-course-topics-header .course-title {
  margin-bottom: 0px;
}
.course-thumb {
  padding: 10px;
  border: 4px solid #fff;
  img {
    border-radius: 5px;
  }
}

.related-course {
  border-top: 1px solid #eee;
}

.related-course .course-block {
  background: #f9f9f9;
  border-color: #f9f9f9;
}

.related-course .course-block:hover {
  background: #fff;
}

.instructor-profile {
  margin-bottom: 30px;
  border: 1px solid #eee;
  padding: 25px;
  background: #fbfbfc;
}

.profile-img {
  width: 80px;
  border-radius: 100%;
  height: 80px;
  overflow: hidden;
  float: left;
  margin-right: 40px;
}

.profile-info {
  overflow: hidden;
}

.instructor-courses span {
  color: #222;
  margin-right: 15px;
}

.instructor-courses span i {
  margin-right: 10px;
  color: #ff1949;
}

.course-review {
  margin-bottom: 30px;
  padding: 25px;
}

.review-text {
  overflow: hidden;
}

.review-text h5 span {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}
.course-single-tabs {
  margin-bottom: 45px;
}

.course-single-tabs .nav-tabs {
  background: #f8f8f9;
  border: 0px;
}

.course-single-tabs .nav-tabs .nav-link.active,
.course-single-tabs .nav-tabs .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  font-weight: 600;
  padding: 20px 20px;
  position: relative;
  font-size: 18px;
}

.course-single-tabs .nav-tabs .nav-link.active:before,
.course-single-tabs .nav-tabs .nav-link:before {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.course-single-tabs .nav-tabs .nav-link.active {
  color: #ff1949;
}

.course-single-tabs .nav-tabs .nav-link.active:before {
  border-color: #ff1949;
}
.course-single-wrapper {
  background: #ddd;
  margin-bottom: 50px;
  background: #263b5e;
  background-size: cover;
  position: relative;
}

.course-single-wrapper .course-single-header {
  border-bottom: 0px;
  padding-top: 70px;
}

.single-course-details {
  clear: both;
}

.single-course-details .course-info {
  overflow: hidden;
  padding: 25px;
  border: 1px solid #eee;
  margin: 25px 0px;
  background: #f8f8f9;
}

.single-course-details .course-info ul {
  list-style: none;
  display: block;
  overflow: hidden;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0;
}

.single-course-details .course-info ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
  color: #222;
}

.single-course-details .course-info ul li i {
  position: absolute;
  left: 0px;
  top: 10px;
}
@media (max-width: 992px) {
  .single-course-details .course-info ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
