.banner-left {
  position: relative;
  background: #26535e;
  padding: 120px 0px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: url("../../../assets/bg/bg-pattern.png") center center;
    background-size: cover;
    opacity: 0.05;
  }
  .banner-content {
    h1 {
      font-size: 50px;
      font-weight: bold;
      margin: 20px 0px 35px;
      line-height: 45px;
      letter-spacing: 1.3px;
      color: #fff !important;
    }
    p {
      margin-bottom: 35px;
      color: #fff;
      opacity: 0.8;
      font-size: 16px;
      line-height: 25px;
    }
    .subheading {
      color: #fff;
    }
  }
}

.banner-img3 {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    right: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-bottom: 200px solid rgba(38, 59, 94, 0.2);
    border-left: 200px solid transparent;
  }
  .img-block {
    position: relative;
    z-index: 2;
    padding-right: 20px;
    padding-bottom: 20px;
    &:before {
      position: absolute;
      content: "";
      right: 0px;
      bottom: 0px;
      width: 0;
      height: 0;
      border-bottom: 200px solid rgba(255, 255, 255, 0.1);
      border-left: 200px solid transparent;
      z-index: -1;
    }
  }
}

.section-heading {
  margin-bottom: 30px;
  .about-img2 {
    padding-right: 30px;
  }
  h3 {
    font-size: 36px;
    font-weight: bold;
  }
}
.section-padding {
  padding-bottom: 60px;
  p {
    margin-bottom: 30px;
  }
}
.feature-item {
  padding: 30px 15px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border-top: 2px solid #ff194b11;
  display: flex;
  transition: 0.4s;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;
  &:hover {
    margin-top: -10px;
    .feature-icon {
      color: rgb(19, 2, 78);
    }
  }
  .feature-icon {
    font-size: 40px;
    float: left;
    margin-right: 25px;
    color: #385777;
    margin-top: 5px;
    transition: 0.4s ease;
  }
  .feature-text {
    overflow: hidden;
    h4 {
      margin-bottom: 20px;
      transition: 0.4s;
    }
  }
}
.feature-item.feature-style-2 {
  &:hover {
    border-color: transparent;
    background: rgb(19, 2, 78);
    .feature-icon {
      color: #fff;
    }
    h4,
    p {
      color: #fff;
    }
  }
}
.about-text-block {
  position: relative;
  background: #f9f9f9;
  padding: 25px 30px 15px 95px;
  margin-bottom: 20px;
  border-radius: 5px;
  i {
    position: absolute;
    font-size: 40px;
    left: 25px;
    top: 26px;
    color: rgb(19, 2, 78);
  }
  h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

.process {
  position: relative;
  .section-heading {
    margin-bottom: 30px;
  }
  .process-img img {
    width: 100%;
  }
  .process-block {
    position: relative;
    padding: 20px 0px;
    i {
      position: absolute;
      content: "";
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 100%;
      text-align: center;
      left: 0px;
      display: inline-block;
      border: 2px solid rgb(19, 2, 78);
      color: rgb(19, 2, 78);
      font-size: 25px;
      z-index: 1;
    }
    .process-desc {
      padding-left: 100px;
      position: relative;
      margin-top: 5px;
      h4 {
        margin-bottom: 10px;
      }
      &:before {
        position: absolute;
        content: "";
        left: 0px;
        width: 2px;
        height: 100%;
        background: rgb(19, 2, 78);
        left: 33px;
        top: 67.5px;
      }
    }
    .no-divider:before {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .process-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .process-img {
    display: none;
  }
}
@media (max-width: 992px) {
  .process-img {
    display: none;
  }
}
