.banner-left {
  position: relative;
  background: #26535e;
  padding: 120px 0px;
  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: url("../../../assets/bg/bg-pattern.png") center center;
    background-size: cover;
    opacity: 0.05;
  }
  .banner-content {
    h1 {
      font-size: 56px;
      font-weight: bold;
      margin: 20px 0px 35px;
      line-height: 65px;
      letter-spacing: -1.3px;
      color: #fff !important;
    }
    p {
      margin-bottom: 35px;
      color: #fff;
      opacity: 0.8;
      font-size: 20px;
      line-height: 38px;
    }
    .subheading {
      text-transform: uppercase;
      font-size: 13px;
      color: #fff;
      font-weight: 600;
      letter-spacing: 2px;
      position: relative;
      padding-left: 50px;
      display: inline-block;
      &:before {
        position: absolute;
        content: "";
        left: 0px;
        width: 40px;
        height: 2px;
        background: #ff1949;
        top: 0px;
        bottom: 0px;
        margin: auto 0px;
      }
    }
  }
}
.banner-img3 {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    right: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-bottom: 200px solid rgba(38, 59, 94, 0.2);
    border-left: 200px solid transparent;
  }
  .img-block {
    position: relative;
    z-index: 2;
    padding-right: 20px;
    padding-bottom: 20px;
    &:before {
      position: absolute;
      content: "";
      right: 0px;
      bottom: 0px;
      width: 0;
      height: 0;
      border-bottom: 200px solid rgba(255, 255, 255, 0.1);
      border-left: 200px solid transparent;
      z-index: -1;
    }
  }
}
.banner-4 {
  padding-top: 200px;
  padding-bottom: 170px;
}
.form-search-banner {
  position: relative;
  .form-control {
    height: 70px;
    border-color: rgba(255, 255, 255, 0.2);
    background: transparent;
    border-radius: 5px;
  }
  .btn {
    position: absolute;
    right: 6px;
    top: 6px;
  }
}
.form-banner {
  background: #07294d;
  padding: 5px;
  border-radius: 5px;
}

.banner-cat {
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 30px;
}

.banner-cat span {
  display: inline-block;
  padding: 2px 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

/* ================
 Banner
================*/
.banner {
  padding: 130px 0px;
  padding-bottom: 180px;
  background: url("../../../assets/bg/video-bg.jpg");
  background-size: cover;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: #263b5e;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
  .banner-content {
    h1 {
      font-size: 56px;
      margin: 15px 0px 45px;
      line-height: 65px;
      letter-spacing: -1.3px;
      color: #fff;
    }
    p {
      margin-bottom: 35px;
      color: #fff;
      opacity: 0.8;
      font-size: 18px;
      line-height: 32px;
    }
    .subheading {
      color: #fff;
      margin-bottom: 0px;
    }
  }
}