<section class="banner-left banner-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6 col-xl-6">
        <div class="banner-content">
          <span class="subheading">Expert instruction</span>
          <h1>Convenient easy way of learning new skills!</h1>
          <p>
            Spend some time to visit our website or head office and discover our
            current courses, enrollment procedure, and registration deadline.
          </p>
          <a href="#" class="btn btn-main"
            >Our Courses <i class="fa fa-angle-right ml-2"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="banner-img3">
          <div class="img-block">
            <img src="../../../assets/bg/home.jpg" alt="" class="img-fluid" />
          </div>
          <div class="banner-shape-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-section section-padding about-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-img2">
          <img src="../../../assets/bg/choose.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="section-heading">
          <span class="subheading">Top Categories</span>
          <h3>Learn new skills to go ahead for your career</h3>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
          excepturi explicabo esse nisi molestias molestiae magni porro magnam,
          iusto sunt aliquid necessitatibus optio quod iste facilis similique
          eos voluptatum sint?
        </p>
        <a href="#" class="btn btn-main"
          ><i class="fa fa-check mr-2"></i>Learn More</a
        >
      </div>
    </div>
  </div>
</section>
