<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 authfy-panel-left py-5">
      <a class="navbar-brand" routerLink="/">
        GeoBird <sup>®</sup><br /><span
          style="font-size: 35px; color: rgb(19, 2, 78)"
          >Consult</span
        >
      </a>
      <!-- authfy-login start -->
      <div class="authfy-login">
        <!-- panel-login start -->
        <div
          class="authfy-panel panel-login text-center px-4"
          [ngClass]="{ active: isActiveRoute('/login') }"
        >
          <div class="authfy-heading mb-4">
            <h5 class="auth-title my-2">Login to your account</h5>
          </div>
          <!-- social login buttons start -->
          <div class="row social-buttons">
            <div class="col-xs-12 col-sm-12 google_button">
              <asl-google-signin-button
                type="standard"
                shape="pill"
                theme="outline"
                text="continue_with"
                size="large"
                logo_alignment="center"
              ></asl-google-signin-button>
            </div>
          </div>
          <!-- ./social-buttons -->
          <div class="row loginOr">
            <div class="col-xs-12 col-sm-12">
              <span class="spanOr">or</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <form name="loginForm" class="loginForm" action="#" method="POST">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control email"
                    name="username"
                    placeholder="Email address"
                  />
                </div>
                <div class="form-group">
                  <div class="pwdMask">
                    <input
                      type="password"
                      class="form-control password"
                      name="password"
                      placeholder="Password"
                    />
                    <span class="bi bi-eye-slash pwd-toggle"></span>
                  </div>
                </div>
                <div class="remember-row py-3">
                  <div>
                    <label class="checkbox">
                      <input type="checkbox" value="remember-me" /><span
                        class="label-text"
                        >Remember me</span
                      >
                    </label>
                  </div>
                  <div>
                    <p class="forgotPwd">
                      <a
                        class="lnk-toggler"
                        data-panel=".panel-forgot"
                        routerLink="/forgot-password"
                        >Forgot password?</a
                      >
                    </p>
                  </div>
                </div>
                <!-- ./remember-row -->
                <div class="form-group">
                  <app-button [size]="'full'" [text]="'Login'"></app-button>
                </div>
              </form>
              <p class="py-2">
                Don't have an account?
                <a
                  class="lnk-toggler"
                  data-panel=".panel-signup"
                  routerLink="/signup"
                  >Sign Up</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- ./panel-login -->
        <!-- panel-signup start -->
        <div
          class="authfy-panel panel-signup text-center px-4"
          [ngClass]="{ active: isActiveRoute('/signup') }"
        >
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="authfy-heading">
                <h5 class="auth-title my-4">Create an Account</h5>
              </div>
              <div class="row social-buttons">
                <div class="col-xs-12 col-sm-12 google_button">
                  <asl-google-signin-button
                    type="standard"
                    shape="pill"
                    theme="outline"
                    text="continue_with"
                    size="large"
                    logo_alignment="center"
                  ></asl-google-signin-button>
                </div>
              </div>
              <!-- ./social-buttons -->
              <div class="row loginOr">
                <div class="col-xs-12 col-sm-12">
                  <span class="spanOr">or</span>
                </div>
              </div>
              <form
                name="signupForm"
                class="signupForm"
                action="#"
                method="POST"
              >
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="username"
                    placeholder="Email address"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="firstname"
                    placeholder="First name"
                  />
                </div>
                <div class="form-group">
                  <div class="pwdMask">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Password"
                    />
                    <span class="bi bi-eye-slash pwd-toggle"></span>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input type="checkbox" value="remember-me" /> I agree to the
                  <a href="#">privacy policy</a> and
                  <a href="#">terms of service</a>.
                </div>
                <div class="form-group">
                  <app-button [size]="'full'" [text]="'Sign Up'"></app-button>
                </div>
              </form>
              <a
                class="lnk-toggler"
                data-panel=".panel-login"
                routerLink="/login"
                >Already have an account?</a
              >
            </div>
          </div>
        </div>
        <!-- ./panel-signup -->
        <!-- panel-forget start -->
        <div
          class="authfy-panel panel-forgot px-4"
          [ngClass]="{ active: isActiveRoute('/forgot-password') }"
        >
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="authfy-heading">
                <h5 class="auth-title text-center">Recover your password</h5>
                <p>
                  Fill in your e-mail address below and we will send you an
                  email with further instructions.
                </p>
              </div>
              <form
                name="forgetForm"
                class="forgetForm"
                action="#"
                method="POST"
              >
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="username"
                    placeholder="Email address"
                  />
                </div>
                <div class="form-group">
                  <app-button [size]="'full'" [text]="'Login'"></app-button>
                </div>
                <div class="form-group">
                  <a class="lnk-toggler" data-panel=".panel-login" routerLink="/login"
                    >Already have an account?</a
                  >
                </div>
                <div class="form-group">
                  <a class="lnk-toggler" data-panel=".panel-signup" routerLink="/signup"
                    >Don't have an account?</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- ./panel-forgot -->
      </div>
      <!-- ./authfy-login -->
    </div>
    <!-- ./authfy-panel-left -->
    <div class="col-md-7 col-lg-8 authfy-panel-right d-none d-sm-none">
      <div class="hero-heading row"></div>
    </div>
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->
