@import "../../shared/colors.scss";
.navbar-brand {
  display: block;
  margin: auto;
}
.authfy-panel-left {
  background-color: $secondary-text;
  height: 100vh;
}

.authfy-panel-right {
  background-color: $background-color;
  height: 100vh;
}

.authfy-login {
  min-height: 510px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.authfy-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.authfy-login .authfy-panel.active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.authfy-login .loginOr {
  position: relative;
  font-size: 1.5em;
  color: $background-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  .spanOr {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:before,
    &:after {
      content: "";
      background-color: $background-color;
      width: 55%;
      height: 1px;
      position: absolute;
      top: 19px;
    }
  }
}
.authfy-login .loginOr .spanOr:before,
.authfy-login .loginOr .spanOr .authfy-login .loginOr .spanOr:before {
  left: -50px;
}
.authfy-login .loginOr .spanOr:after {
  right: -50px;
}
.remember-row {
  display: flex;
  justify-content: space-between;
}
.panel-login .remember-row label {
  font-weight: normal;
  position: relative;
  cursor: pointer;
  color: $primary-text;
  padding-left: 24px;
}

.panel-login .form-control,
.panel-signup .form-control,
.panel-forgot .form-control {
  background-color: $secondary-text;
  color: $background-color;
  font-size: 18px;
  height: 50px;
  margin-bottom: 20px;
  padding: 12px 22px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px $background-color;
  outline: none;
}

.authfy-panel.panel-forgot {
  padding-top: 40px;
}

.panel-login .form-control:focus,
.panel-signup .form-control:focus,
.panel-forgot .form-control:focus {
  border-color: $background-color;
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 64, 116, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 64, 116, 0.6);
}

.pwdMask {
  position: relative;
}

.pwdMask .pwd-toggle {
  color: #cccccc;
  position: absolute;
  z-index: 2;
}

.panel-login .pwdMask .pwd-toggle,
.panel-signup .pwdMask .pwd-toggle {
  top: 15px;
  right: 15px;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus {
  cursor: pointer;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle.fa-eye {
  color: $background-color;
}

.panel-signup .term-policy a {
  text-decoration: underline;
}

.authfy-panel-right .hero-heading {
  display: table;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.authfy-panel-right .hero-heading .headline {
  display: table-cell;
  vertical-align: middle;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  right: 9000px;
}

.checkbox input[type="checkbox"] + .label-text:before,
.checkbox input[type="checkbox"] + .label-text:after {
  font-size: 11px;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 2px;
  margin-left: 0;
  position: absolute;
  top: 2px;
  left: 0;
}

.checkbox input[type="checkbox"] + .label-text:before {
  content: "";
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox input[type="checkbox"] + .label-text:after {
  background-color: $background-color;
  color: #ffffff;
  border-radius: 2px;
  border-color: $background-color;
  line-height: 1.4;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + .label-text:before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + .label-text:after {
  font-family: "FontAwesome";
  content: "\f00c";
}

/*--------------------*/
/* 06. Responsive CSS */
/*--------------------*/

@media (min-width: 812px) {
  .authfy-panel-left {
    height: 100%;
  }
}

@media (min-width: 834px) {
  .authfy-panel-left {
    height: 100vh;
  }
}

@media (min-width: 846px) {
  .authfy-panel-left {
    height: 100%;
  }
}

@media (min-width: 849px) {
  .authfy-panel-left {
    height: 100vh;
  }
}

@media (min-width: 896px) and (max-width: 960px) {
  .authfy-panel-left {
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .authfy-panel-left {
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .authfy-panel-left {
    height: 100vh;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .authfy-login {
    height: 540px;
  }

  .authfy-panel {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 533px) and (max-width: 568px) {
  .authfy-panel-left {
    height: 100%;
  }
}

@media (max-width: 320px) {
  .authfy-panel-left {
    height: 100%;
  }

  .remember-row .col-sm-6 {
    width: 100%;
  }

  .authfy-login .forgotPwd {
    text-align: left;
    margin-top: 0px;
  }
}
