.btn-small {
  padding: 10px 24px;
}
.btn-large {
  padding: 10px 35px;
}
.btn-main {
  background: #ff1949;
  color: #fff;
  border-color: #ff1949;
  font-weight: 900;
  border-radius: 25px;
  &:hover {
    color: #fff;
    border-color: #385777;
    background: #385777;
  }
  i {
    margin-right: 10px;
  }
}
